a:link{
    margin: 0px; padding: 10px;
    text-decoration: none;
    display: inline-flex; justify-content: space-around;
    border: solid; border-radius: 35px; border-width: 1.5px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px; color: black; transition: 1.8s;
}
a:hover{
    background-color: rgb(10, 48, 48);
    font-size: 20px;
    display: inline-block;
    color: antiquewhite;
}
#firstttle{
    margin: 0px; padding: 0px;
    background-color: #3498db;
    border: #3498db;border-radius: 20px;
    color: azure; text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
li:hover{
    color: #0e6251;
    border: solid; border-radius: 30px; border-color: black;
    display: inline-block;
}
footer{
    margin: 0px; padding: 0px;
    background-color: #3498db;
    border: #3498db;border-radius: 20px;
    color: azure; text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    size: 5px; font-size: 10px;
}
